.tableContainer {
    /* margin: 0 auto; */
    max-width: 50vw;
    max-height: 50vw;
    margin-top: 30px;
    background-color: lightgray;
}

table {
    /* margin: 0 auto; */
    border-collapse: collapse;
}

td, th {
    padding: 10px;
}

thead {
    background-color: gray;
}